/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
    
}

/* Cabeçalho */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: white;
    height: 80px;
    padding: 0 20px;
    border-bottom: 1px solid #ccc;
}

header a img {
    width: 80px;
    position: absolute;
    left: 20px;
}

/* Menu de navegação */
nav {
    display: flex;
    gap: 30px;
}

nav a {
   
    color: #00008b;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s;
}

nav a:hover {
    color: #0056b3;
}

/* Conteúdo principal */
main {
    text-align: center;
    padding: 40px 20px;

    
}

main h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #000;
}

main img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

main p {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
    
}
main a {
    text-decoration:underline;
}
main a:hover {
     color:red;   
}

/* Rodapé */
footer {
    background-color: #001f5b;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    flex-wrap: wrap;
}

/* Coluna da esquerda – Redes Sociais */
.redes-sociais {
    display: flex;
    align-items: center;
    gap: 10px;
}

.redes-sociais span {
    margin-right: 10px;
    font-weight: bold;
}

/* Ícones sociais */
.redes-sociais .icon {
    width: 24px;
    height: 24px;
}

/* Texto central */
footer p {
    text-align: center;
    flex: 1;
    font-size: 14px;
}

/* Logo da Ford à direita */
.footer-logo-ford {
    width: 60px;
    height: auto;
}

/*Estilos da tabela*/
table {
    width: 60%;
    border-collapse: collapse;
    margin: 20px auto;
}
th, td {
/*  border: 1px solid #ccc;*/
    padding: 12px;
    text-align: center;
}
/*Estilo do botão*/
button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #003366;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
button:hover{
    background-color: #0055a5;
    transform: scale(1.05);
    transition: 0.3s;
}
